.container-ChannelData {
  grid-area: ChannelData;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--primary);
  flex: 1;

  .messages {
    .container-ChannelMessage:first-child {
      margin-top: 0;
    }

    .container-ChannelMessage:last-child {
      margin-bottom: 13px;
    }

    display: flex;
    flex-direction: column;
    height: calc(100vh - 46px - 68px);
    max-height: calc(100vh - 46px - 68px);

    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--tertiary);
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb-track {
      background-color: var(--secondary);
    }
  }

  .input-wrappeer {
    width: 100%;
    height: 68px;
    padding: 0 16px;
    
    input {
      width: 100%;
      height: 44px;
      padding: 0 10px 0 57px;
      border-radius: 5px;
      color: var(--white);
      background-color: var(--chat-input);
      position: relative;

      &::placeholder {
        color: var(--grey);
      }
    }

    #At {
      width: 24px;
      height: 24px;
      position: relative;
      top: -50%;
      left: 14px;
    }
  }
}